@model HouseManagement.Models.Indication

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление показания</h2>
<br />
<h3>Вы уверены, что хотите удалить это показание?</h3>
<div>
    <hr />
    <div class="text-danger">
        @ViewBag.Message
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Дата передачи показания: " + ViewBag.Date, htmlAttributes: new { @class = "control-label col-md-5" })
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Дом - " + ViewBag.NameHouse, htmlAttributes: new { @class = "control-label col-md-3" })
        </div>
    </div>
    <br>
    @if (ViewBag.FlatNumber != null)
    {
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("", "Квартира №: " + ViewBag.FlatNumber, htmlAttributes: new { @class = "control-label col-md-5" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Тип счетчика: " + ViewBag.Type, htmlAttributes: new { @class = "control-label col-md-5" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Наименование счетчика: " + ViewBag.Name, htmlAttributes: new { @class = "control-label col-md-5" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Номер счетчика: " + ViewBag.Number, htmlAttributes: new { @class = "control-label col-md-5" })
        </div>
    </div>
    <br>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-dark" />
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
