@model HouseManagement.Models.Counter

@{
    ViewBag.Title = "Подробная информация";
}

<h2>Подробная информация о счетчике</h2>
<br />
<div>
    <hr />
    <br>
    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Дом - " + ViewBag.NameHouse, htmlAttributes: new { @class = "control-label col-md-3" })
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Наименование: " + ViewBag.Name, htmlAttributes: new { @class = "control-label col-md-5" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("", "Тип: " + ViewBag.Type, htmlAttributes: new { @class = "control-label col-md-5" })
        </div>
    </div>
    <br>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateLastVerification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateLastVerification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateNextVerification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateNextVerification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.used)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.used)
        </dd>
        <div class="row">
            <a class="nav-link text-dark bg-primary bg-opacity-50" style="width: 12rem" asp-area="" asp-controller="Counter" asp-action="Edit" asp-route-id=@ViewBag.Id>Изменить счетчик</a>
            <a class="nav-link text-dark bg-danger bg-opacity-50" style="width: 12rem" asp-area="" asp-controller="Counter" asp-action="Delete" asp-route-id=@ViewBag.Id>Удалить счетчик</a>
        </div>
    </dl>
    @if (ViewBag.Flat != null)
    {
        <br />
        <hr />
        <h4>Квартира</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("", "Номер квартиры: " + ViewBag.Flat.flatNumber, htmlAttributes: new { @class = "fw-normal"})
            </dt>

            <dt>
                @Html.Label("", "Лицевой счет: " + ViewBag.Flat.personalAccount, htmlAttributes: new { @class = "fw-normal"})
            </dt>

            <dt>
                @Html.Label("", "Номер подъезда: " + ViewBag.Flat.entranceNumber.ToString(), htmlAttributes: new { @class = "fw-normal"})
            </dt>

            <dt>
                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Flat" asp-action="Details" asp-route-id="@ViewBag.Flat.id">Подробнее</a>
            </dt>

        </dl>
    }
    @if (ViewBag.Indication != null)
    {
        <br />
        <hr />
        <h4>Последнее показание</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("", "Дата передачи показания: " + ViewBag.Indication.dateTransfer.ToShortDateString(), htmlAttributes: new { @class = "fw-normal"})
            </dt>

            <dt>
                @Html.Label("", "Значение: " + ViewBag.Indication.value, htmlAttributes: new { @class = "fw-normal"})
            </dt>

        </dl>
    }
</div>

<br />
<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
